.main-top {
  background-image: url('/img/home/Psyche-Spacecraft.jpg');
  background-position: center;
  background-size: cover;
}

.hero-img {
  background-image: url('/img/home/hero_img.png');
  background-position: center;
  background-size: cover;
}

.top-divider {
  height: 4rem;
  border-width: 1px 0;
}

.learning-btn:hover {
  color: #fff;
  background: linear-gradient(to right, #ff9933 0%, #660066 100%);
  transition: all .5s ease;
}

.nav-link {
  display: inline-block;
  padding: 15px 20px;
  position: relative;
}

.nav-link:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: linear-gradient(to right, #ff9933 0%, #660066 100%);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.nav-link:hover::after {
  width: 100%;
  left: 0;
}

.resizing-image {
  width: 50%;
}

.list-group-item {
  border: 0;
}