.main-top {
  background-image: url('/img/home/Psyche-Spacecraft.jpg');
  background-position: center;
  background-size: cover;
}

.hero-img {
  background-image: url('/img/home/hero_img.png');
  background-position: center;
  background-size: cover;
}

.top-divider {
  height: 4rem;
  border-width: 1px 0;
}

.learning-btn:hover {
  background-color: #0dcaf0;
}

.nav-link:hover {
  background-color: #0dcaf0;
}

.resizing-image {
  width: 50%;
}

/* Is this still needed? */
figure {
  text-align: center;
}
