.main-top {
  background-image: url('../img/home/Psyche-Spacecraft.jpg');
  background-position: center;
  background-size: cover;
}

.hero-img {
  background-image: url('../img/home/hero_img.png');
  background-position: center;
  background-size: cover;
}

.top-divider {
  height: 4rem;
  border-width: 1px 0;
}

.learning-btn:hover {
  background-color: #0dcaf0;
}

.nav-link:hover {
  background-color: #0dcaf0;
}

.image {
  width: 50%;
}

.rocket {
  position: relative;
  width: 100px;
  height: 100px;
  animation: animate 0.2s ease infinite;
}

@keyframes animate {
   0%, 100% {
     transform: translateY(-2px);
   }
   50% {
     transform: translateY(2px);
   }
}

.rocket::before {
  content: '';
  position: absolute;
  bottom: -18px;
  left:50%;
  transform: translateX(-50%);
  width: 23px;
  height: 70px;
  background: linear-gradient(#00d0ff, transparent);
  z-index: -1;
}

.rocket::after {
  content: '';
  position: absolute;
  bottom: -18px;
  left:50%;
  transform: translateX(-50%);
  width: 23px;
  height: 70px;
  background: linear-gradient(#00d0ff, transparent);
  filter: blur(20px);
  z-index: -1;
}