<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Thruster Diagnostics Visualization</title>
  <script src="../lib/jquery-3.6.0.min.js"></script>
  <script src="../lib/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="../css/bootstrap.min.css" />
  <link rel="stylesheet" href="../css/styles.css" />
  <script src="../js/script.js"></script>
</head>

<body>
  <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-white border-bottom" aria-label="TopNavbar">
    <div class="container-xl">
      <a class="navbar-brand" href="./home.html">
        <img src="../img/logo/Psyche_Icon_BW-SVG.svg" alt="" width="45" height="45" class="d-inline-block"> Hall Thruster Diagnostics
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTop" aria-controls="navbarTop" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarTop">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="./home.html">Overview</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="./faraday_probe.html">Faraday Probes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./retarding_analyzer.html">RPA Diagnostics</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <main class="container">
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center main-top">
      <p class="display-3 fw-bold text-light">Hall Thruster Diagnostics</p>
      <p class="fs-4 text-light">Perfecting the Thrusters for Psyche </p>
    </div>
    <div class="col-lg-8 mx-auto p-3 py-md-4">
      <p class="h2">Faraday Probe</p>
      <p class="lead">
        The Faraday Probe is a small device used to measure the ion current density distribution, or the number of ions that exist at a location, of the Hall thrusters. The probe consists of a metal cylinder, or "guard," that houses a flat metal disk, or "collector."
      </p>
    </div>
    <div>
      <center>
        <figure>
          <img class="resizing-image" src="../img/faraday_probe/Faraday_Probe.png"/>
          <figcaption>Faraday Probe. Coin for scale.</figcaption>
        </figure>
      </center>
    </div>
    <div class="col-lg-8 mx-auto p-3 py-md-4">
      <p class="h3">How It Works</p>
      <p class="lead">
        The collector and guard are biased negatively and swept in an arc through the plume. The collector current is measured as a function of position (higher current = more ions)
      </p>
      <center>
        <figure>
          <img class="resizing-image" src="../img/faraday_probe/Probe_Diagram.png"/>
          <figcaption>Diagram of the Faraday Probe components<//figcaption>
        </figure>
      </center>
    </div>
    <div class="col-lg-8 mx-auto p-3 py-md-4">
      <p class="h3">What It's For</p>
      <p class="lead">
        Faraday Probes are used to assess the density of the flow of ions in the plume generated by the Hall Effect Thrusters.
        The information gathered by these probes are especially useful in spacecraft electric propulsion applications, such as:
      </p>
      <ul class="lead">
        <li>Ground predictions and flight measurements of local plume properties to determine plasma-spacecraft interactions</li>
        <li>Characterization of global plume properties to assess the thruster plasma discharge and loss mechanisms</li>
        <li>Validation data for modeling and simulation</li>
        <li>Data for thruster acceptance tests</li>
      </ul>
      <p class="lead">
        The diagnostics produced by the probes can also be useful in applications outside of spacecraft propulsion such as: space plasma experiments, dense plasma focus experiments, and laser-produced plasma.
      </p>
      <ul class="lead">
        <li>Space plasma experiments</li>
        <li>Dense plasma focus experiments</li>
        <li>Laser-produced plasma</li>
      </ul>
    </div>
  </main>

  <footer class="container-xl">
    <div class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
      <p class="col-md-4 mb-0 text-muted"></p>

      <ul class="nav col-md-4 justify-content-end">
        <li class="nav-item"><a href="https://www.jpl.nasa.gov/missions/psyche" class="nav-link px-2 text-muted">More on Psyche</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">References</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Our Team</a></li>
      </ul>
    </div>
  </footer>
</body>
</html>
