<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Thruster Diagnostics Visualization</title>
  <script src="../lib/jquery-3.6.0.min.js"></script>
  <script src="../lib/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="../css/bootstrap.min.css" />
  <link rel="stylesheet" href="../css/styles.css" />
  <script src="../js/script.js"></script>
</head>

<body>
  <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-white border-bottom" aria-label="TopNavbar">
    <div class="container-xl">
      <a class="navbar-brand" href="./home.html">
        <img src="../img/logo/Psyche_Icon_BW-SVG.svg" alt="" width="45" height="45" class="d-inline-block"> Hall Thruster Diagnostics
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTop" aria-controls="navbarTop" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarTop">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="./home.html">Overview</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./faraday_probe.html">Faraday Probes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./retarding_analyzer.html">RPA Diagnostics</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <main class="container">
    <div class="text-dark">
      <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center main-top">
        <p class="display-3 fw-bold text-light">Hall Thruster Diagnostics</p>
        <p class="fs-4 text-light">Perfecting the Thrusters for Psyche </p>
      </div>
      <div class="col-lg-8 mx-auto p-3 py-md-4">
        <div class="">
          <p class="h2">Overview</p>
          <p class="lead">
            When the Psyche Mission launches in 2022, it will be the first time humankind will be visiting an entirely metal asteroid. But how will we get there? The Psyche Mission is equipped with electronic
            Hall Thrusters which will be used as the main propulsion system once it has left our atmosphere! Since there will be no chance to test the thrusters in space, different diagnostic tests have been
            devised on Earth to analyze how the thrusters will perform in space. There are two important diagnostic tests for the thrusters to pass, the Faraday Probe Diagnostics and the Retards Potential
            Analyzer Diagnostics.
          </p>
          <hr class=""/>
          <p class="h2">Faraday Probes</p>
          <p class="lead">
            Sed at blandit eros. Donec erat diam, commodo et dui a, placerat consectetur lorem. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec rhoncus volutpat convallis. Pellentesque molestie posuere lorem id tempus. In vel lorem sollicitudin, venenatis metus eu, tempus urna. Phasellus scelerisque porta mauris, nec gravida erat volutpat quis. Morbi bibendum sit amet libero vitae posuere. Aenean justo enim, molestie id ex et, consequat gravida lorem. Maecenas placerat neque vel consectetur ullamcorper. Proin a lectus id dui rhoncus ullamcorper eu semper quam. Vivamus ligula nisi, porttitor nec lectus vel, tincidunt efficitur lectus. Aenean lorem lectus, consequat eu mattis ac, tempor vitae lectus. Etiam arcu enim, placerat sed hendrerit et, aliquam eget nunc. Vivamus a quam a metus maximus lobortis. Aenean laoreet augue sit amet elementum fringilla.
          </p>
          <div class="row justify-content-end">
            <div class="col-4">
              <a href="./Faraday_probe.html" class="btn btn-light learning-btn">Continue Learning
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right" viewBox="0 0 16 16">
                  <path d="M6 12.796V3.204L11.481 8 6 12.796zm.659.753 5.48-4.796a1 1 0 0 0 0-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 0 0 1.659.753z"/>
                </svg>
              </a>
            </div>
          </div>
          <hr class=""/>
          <p class="h2">Retarding Potential Analyzer</p>
          <p class="lead">
            Ut ac pellentesque velit. Praesent et felis sit amet nisi blandit semper tempor eu nunc. Vivamus nec justo dolor. Vivamus non nulla condimentum risus posuere accumsan. Morbi porttitor mauris in orci euismod molestie. Nunc rutrum ultricies est facilisis semper. Donec nibh mi, scelerisque id efficitur sed, pretium non magna. Morbi non magna et orci lobortis molestie. Duis pellentesque lectus ut ligula eleifend, eget dignissim libero tempor. In odio nulla, sodales a nulla id, ultricies tristique quam. Ut finibus sed justo non hendrerit. Nunc ut ligula nulla. Pellentesque faucibus dui sed iaculis mattis.
          </p>
          <div class="row justify-content-end">
            <div class="col-4">
              <a href="./retarding_analyzer.html" class="btn btn-light learning-btn">Continue Learning
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right" viewBox="0 0 16 16">
                  <path d="M6 12.796V3.204L11.481 8 6 12.796zm.659.753 5.48-4.796a1 1 0 0 0 0-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 0 0 1.659.753z"/>
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

  <footer class="container-xl">
    <div class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
      <p class="col-md-4 mb-0 text-muted">Placeholder</p>

      <ul class="nav col-md-4 justify-content-end">
        <li class="nav-item"><a href="https://www.jpl.nasa.gov/missions/psyche" class="nav-link px-2 text-muted">More on Psyche</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">References</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Our Team</a></li>
      </ul>
    </div>
  </footer>

</body>

</html>
