<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Thruster Diagnostics Visualization</title>
  <script src="../lib/jquery-3.6.0.min.js"></script>
  <script src="../lib/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="../css/bootstrap.min.css" />
  <script src="js/script.js"></script>
</head>

<body>
  <main>
    <div class="container bs-dark">
      <div class="col-lg-8 mx-auto p-3 py-md-4 bg-primary">
        <div class="bg-secondary">
          <p class="h2">Heading</p>
          <p class="bg-warning">Section1
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            end Section1
          </p>
          <p class="bg-success">Section2
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            end Section2
          </p>
        </div>
      </div>
    </div>
  </main>
</body>

</html>
