<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Thruster Diagnostics Visualization</title>
  <script src="../lib/jquery-3.6.0.min.js"></script>
  <script src="../lib/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="../css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/styles.css" />
  <script src="../js/script.js"></script>
</head>

<body>
  <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-white border-bottom" aria-label="TopNavbar">
    <div class="container-xl">
      <a class="navbar-brand" href="./home.html">
        <img src="../img/logo/Psyche_Icon_BW-SVG.svg" alt="" width="45" height="45" class="d-inline-block"> Hall Thruster Diagnostics
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTop" aria-controls="navbarTop" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarTop">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="./home.html">Overview</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./faraday_probe.html">Faraday Probes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="./retarding_analyzer.html">RPA Diagnostics</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container text-dark">
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center main-top">
      <p class="display-3 fw-bold text-light">Hall Thruster Diagnostics</p>
      <p class="fs-4 text-light">Perfecting the Thrusters for Psyche </p>
    </div>
    <div class="col-lg-8 mx-auto p-3 py-md-4">
      <p class="h2">Retarding Probe Analyzers</p>
      <p class="lead">

      </p>
    </div>
    <div>
        <center>
          <figure>
            <img class="resizing-image" src="../img/rpa/RPA.png"/>
            <figcaption>example side-view of the retarding probe analyzer</figcaption>
          </figure>
        </center>
      </div>
    <div class="col-lg-8 mx-auto p-3 py-md-4">
      <p class="h2">How it works</p>
      <p class="lead">
        
      </p>
    </div>

    <footer class="container-xl">
      <div class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <p class="col-md-4 mb-0 text-muted"></p>

        <ul class="nav col-md-4 justify-content-end">
          <li class="nav-item"><a href="https://www.jpl.nasa.gov/missions/psyche" class="nav-link px-2 text-muted">More on Psyche</a></li>
          <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">References</a></li>
          <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Our Team</a></li>
        </ul>
      </div>
    </footer>
</body>
</html>
